*{
  background: linear-gradient(270deg, #373142, #3d557a, #54638d,#3f4d77);
background-size: 600% 600%;

animation: AnimationName 30s ease infinite;
}

@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.st1{
  width: 150%;
  animation-name: moon;
  animation-iteration-count: infinite;
  animation-duration: 30s;
}

@keyframes moon {
  0%{transform: translate(-900px ,500px); fill:#EAF2F8;  }
  30%{transform: translateY(-650px)scale(1.3, 1.3);;fill:#2980B9;transform:  }
  60%{ transform: translate(900px,500px);fill:#A9CCE3;}
  85%{transform: translateY(1000px,);ill:#D4E6F1}
  100%{transform: translate(-900px ,500px);fill:#EAF2F8  }
}






/*.st0{
  animation-name: egg;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  background-color: #FEF9E7;
}

 @keyframes egg {
  30% { transform: translateY(-50px);
        fill:#F1C40F
  }
}

.st1{
  animation-name: yolk;
  animation-duration: 5s;
  animation-iteration-count:infinite;
}

@keyframes yolk {
  from{fill: #FFF4E0}
  to {fill: #F1C40F;}
  25%{
     transform: translateY(-50px)
  }
}
