*{
  /*background: linear-gradient(270deg, #373142, #3d557a, #54638d,#3f4d77);*/
  background-color: black;
background-size: 600% 600%;

animation: AnimationName 30s ease infinite;
}

@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.demo-dot {
  -webkit-animation: xAxis 10s infinite cubic-bezier(0.3, 0.27, 0.07, 1.64);
  animation: xAxis 10s infinite cubic-bezier(0.3, 0.27, 0.07, 1.64);
  margin:100px;
  margin-left: 0;
  fill:yellow;
}

.demo-dot::after {
  content: '';
  display: inline-flex;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #D3D3D3;
  float: left;
  -webkit-animation: yAxis 10s infinite cubic-bezier(0.3, 0.27, 0.07, 1.64);
  animation: yAxis 10s infinite cubic-bezier(0.3, 0.27, 0.07, 1.64);
}




@-webkit-keyframes yAxis {
  50% {
    -webkit-animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    -webkit-transform: translateY(-300px);
    transform: translateY(-300px);
  }
}

@keyframes yAxis {
  50% {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0.34, 0.5, 1);
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    -webkit-transform: translateY(-300px);
    transform: translateY(-300px);
  }
}

@-webkit-keyframes xAxis {
  50% {
    -webkit-animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    -webkit-transform: translateX(-600px);
    transform: translateX(-600px);
  }
}

@keyframes xAxis {
  50% {
    -webkit-animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    -webkit-transform: translateX(600px);
    transform: translateX(600px);
  }
}


.st1{
  width: 80%;
  animation:moon 10s linear infinite;
  border: 3px solid blue;
}

@keyframes moon {
  /*0%{transform: translate(-900px ,500px); fill:#EAF2F8;  }
  30%{transform: scale(1.3, 1.3);}*/
  60%{ transform: translate(900px,500px);fill:#D3D3D3;}
  85%{transform: translateY(1000px,);fill:#D4E6F1}
  /*100%{transform: translate(-900px ,500px);fill:#EAF2F8  }*/
}






/*.st0{
  animation-name: egg;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  background-color: #FEF9E7;
}

 @keyframes egg {
  30% { transform: translateY(-50px);
        fill:#F1C40F
  }
}

.st1{
  animation-name: yolk;
  animation-duration: 5s;
  animation-iteration-count:infinite;
}

@keyframes yolk {
  from{fill: #FFF4E0}
  to {fill: #F1C40F;}
  25%{
     transform: translateY(-50px)
  }
}
